.wholeChart {
    max-height: 600px;
}

.int_chart {
    position:relative;
    height: 575px;
    max-width: 100%;  
    stroke-width:0.5;
  }  

#countyInfo {
    position: relative;
    display: flex;
    width:100%;
    background-color: #CAD6E8;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    cursor:default;
    margin:0;
    overflow-y:auto;
}

.styledButton {
    background-color: #006DB2;
    border:1px solid #124d77;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    padding:6px 24px;
    text-decoration:none;
}


.checkboxlabel {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
}

.directions {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

#showAllButton,
#hideAllButton,
#selectCounty {
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.checkbox {
    cursor: pointer;
}

/*#intOverlay ul li {
    position: relative;
    border: 1px solid #BFBFBF;
    padding: 8.5px 5px 8.6px 8px;
}

#intOverlay ul li:hover {
    background-color: #267FCA;
    font-weight:bold;
}

.leaflet-popup {
    font-family: Apres, Verdana, sans-serif !important;
}

.leaflet-popup-content img { 
    margin: 0 auto; display:block; 
  }

*/
/* media query — on small screens, overlay takes up slightly more % and add line-height for wrapped names
/*@media only screen and (max-width: 675px) {

    #intOverlay ul li {
      padding: 6.5px 2px 6.5px 4px;
  }

    #intOverlay {
      width:33%;
    }*/

/*}*/
 

